@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  background-color: #eee;
}

.hero {
  background: url('../public/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
